<h1>BEERS</h1>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% @beers.each do |beer| %>
<%= link_to beer.name, beer %>
<% end %>
