<h1><%= @beer.name %></h1>

<%= @beer.category %> <br>
<%= @beer.abv %>
<%= @beer.info %>

<ul>
<% @beer.locations.each do |location| %>
<li> <%=  link_to "#{location.name}-#{location.address}", location_path(location) %> <br>
<% end %>
<ul>

<%= @beer.average_rating %>
